<div class="container-fluid">

  <div class="container">
    <div id="logbox">
      <form id="signup">
        <h1>Post</h1>
        <input name="photo_url" type="photo url" placeholder="photo url" class="input pass" />
        <div>
          <img src="" alt="">
        </div>
        <input name="title" type="text" placeholder="title" class="input pass">
        <textarea name="desciption " class="input pass" placeholder="desciption"></textarea>
        <textarea name="article" class="input pass" placeholder="article"></textarea>
        <input name="tag" type="section" placeholder="section" class="input pass" />
        <input type="submit" value="Post" class="inputButton" />
      </form>
    </div>
  </div>

</div>
