nav {
  background-color: white;

  .container-fluid {
    display: flex;
    flex-direction: column;

    .navbar-brand {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}
