@media screen and (max-width: 760px) {
  .container-fluid {
    padding: auto;

    mat-grid-list {
      margin-top: 5vh;
      h2 {
        font-size: 2.2vh;
      }

      .mat-card {
        min-width: 80vw;
        min-height: 90vh;
        font-size: 2vh;

        img.mat-card-image {
          min-height: 40vh;
        }

        mat-card-footer {
          button {
            min-width: 30vh;
            margin: 0;
            position: relative;
          }
        }
      }
    }

    .additional {
      visibility: hidden;
    }
  }

}



.container-fluid {
  padding-right: 3.5vh;
  background-color: rgb(243, 243, 253);
  min-height: 100vh;

    mat-grid-list {
      margin-bottom: 5vh;

      mat-card{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 22vw;
        height: 68vh;
        background-color: white;
        box-shadow: 0 1vh 1vh -2px rgba(116, 114, 114, 0.2);
        z-index: 999;

        img.mat-card-image {
          height: 25vh;
        }

        mat-card-title {
          text-align: center;
          font-weight: bold;
          font-size: 2.7vh;
          min-height: 10vh;
        }

        mat-card-subtitle {
          text-align: center;
          min-height: 13vh;
        }

        mat-card-actions {
          text-align: center;
          border-top: 1px dashed black;
          border-bottom: 1px dashed black;
        }

        mat-card-footer {
          display: flex;
          justify-content: center;

          button {
            width: 17vw;
            height: 6vh;
            font-size: 2vh;
            background-color: rgb(233, 91, 91);
            color: white;
            border-radius: 0;
            border: none;
            box-shadow: 0 1vh 1vh -2px rgba(116, 114, 114, 0.2);
            z-index:999;
          }
        }
      }

  }

  .main {
    margin-top: 2vh;

    h2 {
      margin: 2vh 2vh 0 2vh;
    }
  }

  .additional {
    background-color: white;
    margin-top: 2vh;
    height: 50vh;
    box-shadow: 0 1vh 1vh -2px rgba(116, 114, 114, 0.2);
    z-index:999;


    h2 {
      margin: 2vh;
      text-align: center;
    }
  }


}


